html {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 140%;
  background-color: beige;
}

.content {
  padding: 20px 40px;
  margin: 0;
}

.dropdown {
  position: relative;
}

.dropdown__trigger {
  font: inherit;
}

.dropdown__content {
  position: absolute;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);

  overflow: hidden;
  height: 0;

  /* max-height: 0; */
  transform-origin: top center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-150);
  transition:
    opacity .2s 
    transform .5s;
}

.dropdown--active .dropdown__content {
  transform: translateY(0);
  pointer-events: auto;
}